@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Lato, sans-serif;
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

input {
  -webkit-appearance: none;
}

.header-main {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-ai-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.a_cart img {
  margin-top: 9px;
}

.a_cart:hover img {
  opacity: 0.65;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

a:hover,
input[type="button"]:hover,
button:hover,
input[type="submit"]:hover {
  opacity: 0.65;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

a:focus {
  border-left: 1px double #b65360;
  border-right: 1px double #b65360;
  outline: none;
}

a {
  border-left: 1px double transparent;
  border-right: 1px double transparent;
  outline: none;
}

input[type="button"]:focus,
button:focus,
input[type="submit"]:focus {
  outline: 1px solid #b65360;
}

a:not(:hover),
input[type="button"]:not(:hover),
button:not(:hover),
input[type="submit"]:not(:hover) {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/*добавляем стилия для header*/
/*добавляем стилия для header*/
.header-main > .flex-sb {
  height: 100%;
}

.logo {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_a {
  height: 19px;
  font-family: Lato;
  font-size: 27px;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  text-decoration: none;
  height: 32px;
}

.logo_a:hover .logo_img {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transition: -webkit-transform 5s ease;
  transition: -webkit-transform 5s ease;
  transition: transform 5s ease;
  transition: transform 5s ease, -webkit-transform 5s ease;
}

.logo_bran {
  color: #222222;
  font-weight: 300;
  margin-left: 13px;
}

.logo_d {
  color: #f16d7f;
  font-weight: 400;
}

.search_f {
  margin-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.but_br {
  /* width: 87px; */
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 8px;
}

.but_br:hover {
  cursor: pointer;
}

.but_br i {
  margin-left: 2px;
  color: #838383;
  font-size: 14px;
  /*   line-height: 38px; */
}

.browse-container {
  position: relative;
}

.browse-menu {
  position: absolute;
  min-width: 262px;
  border-radius: 5px;
  top: 35px;
  border: 1px solid #ededed;
  background-color: #fff;
  z-index: 10;
  /* padding-top: 20px; */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  list-style-type: none;
  display: none;
}

.browse-menu:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 62px;
  top: -6px;
  z-index: 10;
  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.browse-container:hover .browse-menu {
  display: block;
}

.browse-container:hover .fas {
  color: #f16d7f;
}

.browse-menu-second-level:first-of-type {
  margin-top: 12px;
  border-top: 1px solid #ededed;
}

.browse-menu-first-level {
  margin-top: 20px;
}

.browse-menu-first-level > .browse-menu__link {
  font-size: 14px;
  color: #232323;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.browse-menu-first-level > .browse-menu__link:hover {
  color: #f16d7f;
}

.browse-menu-second-level {
  padding-top: 10px;
  padding-bottom: 10px;
}

.browse-menu-second-level > .browse-menu__link {
  font-size: 14px;
  color: #4f4f4f;
  text-decoration: none;
}

.browse-menu-second-level > .browse-menu__link:hover {
  color: #f16d7f;
}

.browse-sub-menu {
  list-style-type: none;
  padding-left: 5px;
}

#search_line {
  width: 276px;
  /*  height: 36px; */
  border: 1px solid #e6e6e6;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  color: #a4a4a4;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#search_line:focus {
  outline: none;
}

.search_sub {
  width: 36px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  line-height: 38px;
  text-align: center;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}

.search_sub {
  cursor: pointer;
}

.cart-container {
  position: relative;
}

.a_cart {
  display: block;
  position: relative;
  width: 40px;
  height: 29px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.cart-container:hover .cart-drop-down {
  display: block;
}

.cart-container:hover .a_cart {
  background-image: url(../img/pink_cart-32x29.svg);
}

.a_cart_red_circle {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: -7px;
  right: -7px;
  background-color: #f16d7f;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.red_circle_span {
  font-size: 12px;
  font-weight: 900;
  color: #ffffff;
  line-height: 19px;
}

/*dropdown меню cart*/
.cart-drop-down {
  top: 32px;
  left: -15px;
  position: absolute;
  z-index: 10;
  padding: 5px 20px 5px 20px;
  min-width: 222px;
  border-radius: 5px;
  border: 1px solid #ededed;
  background-color: #fff;
  display: none;
}

.cart-drop-down:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 30px;
  top: -6px;
  z-index: 10;
  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-drop-down__product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}

.a-text-container {
  min-width: 120px;
}

.product-container__a-item {
  text-decoration: none;
  font-size: 12px;
  color: #222222;
}

.a-item-text,
.a-item-star,
.a-item-price {
  margin: 10px;
}

.a-item-text {
  font-weight: 900;
}

.a-item-star {
  color: #e4af48;
}

.a-item-price {
  color: #f16d7f;
}

.product-container__a-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a-item__img,
.product-container__button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.product-container__button {
  background: none;
  border: none;
  cursor: pointer;
}

.product-container__button:hover {
  color: #f16d7f;
}

.summary-container {
  margin-top: 19px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.summary-container__span {
  font-size: 16px;
  font-weight: 900;
  color: #222222;
}

.cart-dd-btn {
  max-width: 225px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  padding: 20px;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 900;
}

.cart-dd-btn:hover {
  border: solid 1px #f16d7f;
  color: #f16d7f;
}

.my-acc {
  margin-left: 26px;
  height: 38px;
  background-color: #f16d7f;
  display: block;
  padding-left: 19px;
  padding-right: 12px;
  line-height: 38px;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #fff;
}

.my-acc i {
  padding-left: 8px;
}

.my-acc:hover {
  border: 1px solid #f16d7f;
  background-color: #fff;
  color: #f16d7f;
}

.img-cart-animation {
  -webkit-animation: img-cart-animation 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: img-cart-animation 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes img-cart-animation {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes img-cart-animation {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/*стили для навигации*/
/*стили для навигации*/
.navigation {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
}

.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 20px 22px;
}

/* .menu__link:hover {

  border-bottom: 3px solid $pink-color70;
} */
.menu__list:hover {
  border-bottom: 3px solid #ef5b70;
}

/*стили для mega-menu*/
.menu__list {
  position: relative;
  border-bottom: 3px solid rgba(238, 92, 114, 0);
}

.mega-menu {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  border: 1px solid #e6e6e6;
  display: none;
  top: 44px;
  z-index: 6;
  /* min-width: 800px; */
}

.menu__list:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list:hover .menu__link {
  color: #ef5b70;
}

.mega-menu:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  z-index: 6;
  top: -6px;
  left: 33px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.menu li:nth-of-type(3) .mega-menu {
  left: -80px;
}

.menu li:nth-of-type(3) .mega-menu:after {
  left: 125px;
}

.menu li:nth-of-type(4) .mega-menu {
  left: -183px;
}

.menu li:nth-of-type(4) .mega-menu:after {
  left: 210px;
}

.menu li:nth-of-type(5) .mega-menu {
  left: -261px;
}

.menu li:nth-of-type(5) .mega-menu:after {
  left: 315px;
}

.menu li:nth-of-type(6) .mega-menu {
  left: -399px;
}

.menu li:nth-of-type(6) .mega-menu:after {
  left: 445px;
}

.menu li:nth-of-type(7) .mega-menu {
  left: -516px;
}

.menu li:nth-of-type(7) .mega-menu:after {
  left: 566px;
}

.mega-menu__list {
  list-style-type: none;
}

.mega-menu__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
}

.mega-menu__link:hover {
  color: #ef5b70;
}

.mega-menu__heading {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.mega-flex {
  width: 235px;
  margin-right: 46px;
}

.mega-flex:last-of-type {
  margin-right: 0px;
}

.mega-menu__img {
  display: block;
  text-decoration: none;
  margin-left: -17px;
  margin-top: 10px;
  position: relative;
  width: 255px;
}

.mega-menu__img > img {
  width: 100%;
}

.mega-menu-img__string {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.mega-menu__img:hover .mega-menu-img__string {
  color: #f16d7f;
}

/*стили footer*/
/*стили footer*/
/*следующие 4 стиля - чтобы footer был всегда в подвале*/
html {
  height: 100%;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer_menu {
  padding-top: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_column1 {
  width: 427px;
}

.footer_column1 > p:first-of-type {
  padding-top: 29px;
  padding-bottom: 38px;
}

.footer_column1 p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer_h3 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-bottom: 20px;
}

.footer_menu_ul {
  list-style-type: none;
}

.footer_menu_ul a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 46px;
  text-decoration: none;
}

.f_menu_link:hover {
  color: #f16d7f;
}

.footer_bottom {
  width: 100%;
  height: 79px;
  background-color: #e6e6e6;
  margin-top: 89px;
}

.copyright p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.flex_footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.socialbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialbtn a {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.4px;
}

.socialbtn a:visited {
  background-color: #d9d7d7;
}

.socialbtn a:hover {
  background-color: #f16d7f;
  color: #fff;
}

/*стили для страницы index.htm*/
/*стили для основного содержания index.html*/
.slider {
  height: 613px;
  background-color: #e8e8e8;
}

.slider-flex {
  height: 100%;
  background-image: url(../img/slider-back.jpg);
  background-position: 0 -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-heading,
.slider-text {
  color: #222222;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 12px;
}

.slider-heading {
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 43px;
  margin-bottom: 20px;
  font-weight: 900;
}

.slider-text {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 800;
}

.box-slider-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
}

.slider-text > span {
  color: #f16d7f;
  letter-spacing: 1px;
}

.offer-big {
  width: 560px;
  height: 516px;
  padding-top: 26px;
  display: block;
  text-decoration: none;
}

.offer-mini {
  width: 560px;
  height: 235px;
  padding-top: 26px;
  display: block;
  text-decoration: none;
}

.offer-left-big {
  background-image: url(../img/offer-left-big.jpg);
  position: relative;
  background-repeat: no-repeat;
}

.offer-left-mini {
  background-image: url(../img/offer-left-smal.jpg);
  position: relative;
  background-repeat: no-repeat;
}

.offer-right-mini {
  background-image: url(../img/offer-right-smal.jpg);
  position: relative;
  background-repeat: no-repeat;
}

.offer-right-big {
  background-image: url(../img/offer-right-big.jpg);
  position: relative;
  background-repeat: no-repeat;
}

.offer-flex > div > a:first-of-type {
  margin-bottom: 20px;
}

.offer-flex {
  margin-top: 98px;
  margin-bottom: 100px;
}

.offer-left-big-text {
  min-width: 175px;
  min-height: 56px;
  background-color: #ffffff;
  padding: 19px 19px 19px 0;
  position: absolute;
}

.offer-text {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-left: 19px;
}

.red-text {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

/* .offer-tp > p:first-of-type {
   padding-top: 19px; 
} */
.offer-left-mini-text {
  min-width: 225px;
  min-height: 56px;
  background-color: #ffffff;
  padding: 19px 19px 19px 0;
  position: absolute;
}

.offer-right-mini-text {
  min-width: 162px;
  min-height: 56px;
  background-color: #ffffff;
  padding: 19px 19px 19px 0;
  position: absolute;
}

.offer-right-big-text {
  min-width: 180px;
  min-height: 56px;
  background-color: #ffffff;
  padding: 19px 19px 19px 0;
  position: absolute;
}

/* стили для секции featured items*/
.featured_heading h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
}

.featured_heading p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 60px;
}

.featured_items {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 58px;
}

.featured_item {
  width: 263px;
  /* height: 364px; */
  background-color: #ffffff;
  margin-bottom: 39px;
  /*   display: flex;
  align-items: flex-end; */
  text-decoration: none;
  position: relative;
  padding-bottom: 20px;
}

.product {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.featured_item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.featured_item:hover .img_f_item {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.featured_item:hover .add_cart_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a_add_cart:hover {
  /*   background-color: rgba(255, 255, 255, 1); */
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  opacity: 1;
}

.add_cart_flex {
  position: absolute;
  /*  height: 281px;
  width: 100%; */
  /*   background-color: grey; */
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.a_add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  /*   padding-top: 10px;
  padding-bottom: 10px; */
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.a_add_cart img {
  margin-top: 7px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.f_item2 {
  background-image: url(../img/g2.jpg);
  background-repeat: no-repeat;
}

.f_item3 {
  background-image: url(../img/g3.jpg);
  background-repeat: no-repeat;
}

.f_item4 {
  background-image: url(../img/g4.jpg);
  background-repeat: no-repeat;
}

.f_item5 {
  background-image: url(../img/g5.jpg);
  background-repeat: no-repeat;
}

.f_item6 {
  background-image: url(../img/g6.jpg);
  background-repeat: no-repeat;
}

.f_item7 {
  background-image: url(../img/g7.jpg);
  background-repeat: no-repeat;
}

.f_item8 {
  background-image: url(../img/g8.jpg);
  background-repeat: no-repeat;
}

.t-red {
  color: #f16d7f;
}

.item_first_line {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
}

.item_second_line {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.container_btn_browse_all {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.btn_browse_all {
  /* width: 188px; */
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.4px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 24px;
  text-decoration: none;
}

.btn_browse_all > .fa-long-arrow-alt-right {
  padding-right: 24px;
}

.btn_browse_all i {
  margin-left: 9px;
}

/* стили для offer_women*/
.offer_women_container {
  margin-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 97px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer_women {
  background-image: url(../img/Feature_img.jpg);
  width: 767px;
  background-repeat: no-repeat;
  /*  background-size: 100% auto; */
  background-position: right;
  /*  height: 529px; */
}

.offer_women > p:first-of-type {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 146px;
  padding-left: 39px;
}

.offer_women > p:last-of-type {
  font-size: 32px;
  letter-spacing: 0.9px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 39px;
}

.offer_women > p > span {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.ds_icons > img {
  display: block;
  margin: 0 auto;
}

.ds_icons {
  width: 111px;
}

.ds_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ds_text {
  width: 219px;
  padding-right: 43px;
}

.ds_text > h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.deliv_sale > div:nth-child(1) {
  padding-top: 48px;
}

.deliv_sale > div:nth-child(2) {
  padding-top: 54px;
}

.deliv_sale > div:nth-child(3) {
  padding-top: 51px;
  padding-bottom: 40px;
}

.ds_text > p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.deliv_sale {
  /*   height: 529px; */
  background-color: #222224;
}

.ds_text h3 {
  line-height: 37px;
}

/*стили отзывы и подписка*/
.review_subscribe {
  /*  height: 438px; */
  width: 1600px;
  background-color: #f2f2f2;
  background-image: url(../img/subscribe-background.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.review_div {
  padding-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rev_text {
  width: 458px;
  padding-left: 28px;
  padding-right: 72px;
}

.rev_text > p:first-of-type {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-top: 12px;
  margin-bottom: 19px;
}

.rev_text > p:nth-of-type(3) {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.rev_text > p:nth-of-type(2) {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
}

button.a_rev {
  display: block;
  text-decoration: none;
  background-color: #d6d6d6;
  border: none;
}

button.a_rev:focus {
  background-color: #f16d7f;
  border: none;
  outline: none;
}

button.a_rev:hover {
  cursor: pointer;
}

.btn_rev1 {
  width: 38px;
  height: 4px;
}

.btn_rev2 {
  width: 38px;
  height: 4px;
  margin-left: 13px;
}

.btn_rev3 {
  width: 38px;
  height: 4px;
  margin-left: 13px;
}

.btn_rev_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

.review_div {
  width: 570px;
  border-right: 1px solid #ffffff;
}

.flex_rev_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 438px;
}

.subscribe_container > h3,
.subscribe_container > p {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.subscribe_container > h3 {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  padding-top: 133px;
}

.subscribe_container > p {
  letter-spacing: 0.35px;
  line-height: 24px;
}

.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

#input_sub_email {
  width: 282px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  padding-left: 28px;
  padding-right: 28px;
}

#input_sub_email::-webkit-input-placeholder {
  /*   padding-left: 28px; */
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

#input_sub_email:-ms-input-placeholder {
  /*   padding-left: 28px; */
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

#input_sub_email::-ms-input-placeholder {
  /*   padding-left: 28px; */
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

#input_sub_email::placeholder {
  /*   padding-left: 28px; */
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

#input_sub_email:focus {
  -webkit-box-shadow: 0 0 2px #f16d7f;
  box-shadow: 0 0 2px #f16d7f;
  outline: none;
}

.btn_subscribe_sub {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  -webkit-box-shadow: 0 0 2px #f16d7f;
  box-shadow: 0 0 2px #f16d7f;
}

.btn_subscribe_sub:hover {
  background-color: #ffffff;
  color: #f16d7f;
  cursor: pointer;
}

.btn_subscribe_sub:hover {
  outline: none;
}

input.btn_subscribe_sub:focus {
  outline: none;
  border-radius: 0 23px 23px 0;
  border-bottom: 2px outset #f16d7f;
}

.subscribe_container {
  margin-left: 92px;
  width: 386px;
}

/*стили для страницы products*/
/* ------------------------стили для страницы products.html------------------------------- */
/* начало стилий для breadcrumbs */
/* начало стилий для breadcrumbs */
.div_breadcrumbs {
  height: 148px;
  background-color: #f8f3f4;
  margin-bottom: 59px;
}

.breadcrumbs_flex {
  -ms-flex-line-pack: center;
      align-content: center;
}

.breadcrumbs_flex h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  line-height: 138px;
  display: block;
}

.ul_breadcrumbs {
  /*  padding: 10px 16px; */
  list-style: none;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.ul_breadcrumbs li {
  display: inline;
  line-height: 138px;
}

.ul_breadcrumbs li + li:before {
  /*  padding: 8px; */
  color: #636363;
  font-weight: 300;
  content: "/\00a0";
}

.ul_breadcrumbs li a {
  color: #636363;
  text-decoration: none;
}

.ul_breadcrumbs li a:hover {
  text-decoration: underline;
}

/* начало стилей для бокового меню products.html */
.div_products {
  margin-top: 60px;
}

.ul_menu li {
  list-style-type: none;
}

.details_dd_menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 238px;
  height: 37px;
  border-left: 5px solid #ef5b70;
  line-height: 37px;
  padding-left: 11px;
  border-bottom: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.details_dd_menu:hover {
  cursor: pointer;
}

summary {
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 5px;
  content: "\f0d7";
  padding-right: 0.5em;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 37px;
  padding-right: 7px;
}

details[open] > summary::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
  padding-right: 0.5em;
  color: #ef5b70;
  font-size: 14px;
  line-height: 37px;
  /* padding-left: 130px; */
}

details[open] summary {
  color: #ef5b70;
}

.ul_menu > li a {
  display: block;
  text-decoration: none;
  padding: 0px 17px;
  width: 204px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}

details:focus,
summary:focus {
  outline: 0;
  outline: none;
}

details,
summary {
  outline: 0;
  outline: none;
}

summary:hover::after {
  color: #ef5b70;
}

details[open] summary:hover::after {
  color: #6f6e6e;
}

summary:hover {
  border-bottom: 1px solid #ef5b70;
}

.ul_menu a:hover {
  text-decoration: underline;
}

.aside_menu_products {
  width: 25%;
}

/* начало стилей для сортировки продуктов products.html */
.product_container {
  width: 74%;
  min-width: 275px;
}

.ul_trending li {
  list-style-type: none;
}

.ul_trending li {
  list-style-type: none;
}

.ul_trending button {
  background: none;
  border: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 23px;
  padding-right: 12px;
}

.ul_trending button:hover {
  cursor: pointer;
}

.ul_trending li + li:before {
  content: "\007C";
  color: #dfdfdf;
  padding-right: 12px;
}

.ul_trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div_tranding,
.div_size,
.div_price {
  width: 263px;
}

.div_tranding h3,
.div_size h3,
.div_price h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 15px;
}

.trend_button:focus {
  outline: none;
}

.trend_button:active {
  background: #ef5b70;
}

.checkbox_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container_check_item {
  display: block;
  position: relative;
  /*   padding-left: 35px;
  margin-bottom: 12px; */
  cursor: pointer;
  padding-left: 22px;
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  width: 48px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.container_check_item input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox_mark {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.container_check_item:hover input ~ .checkbox_mark {
  background-color: #ebebeb;
}

.container_check_item input:checked ~ .checkbox_mark {
  background-color: #d1cfcf;
}

.container_check_item:hover {
  opacity: 0.65;
}

.checkbox_mark:after {
  content: "\2713";
  position: absolute;
  font-weight: 900;
  font-size: 18px;
  color: #ef5b70;
  display: none;
}

.container_check_item input:checked ~ .checkbox_mark:after {
  display: block;
}

/* стили для слайдера в фильтре products.html */
.container_price_input {
  width: 100%;
}

.container_price_input {
  width: 100%;
}

.input_price_range {
  width: 100%;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.input_price_range:hover {
  opacity: 0.65;
}

.input_price_range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f16d7f;
  cursor: pointer;
}

.input_price_range:-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f16d7f;
  cursor: pointer;
}

.flex_text_price p {
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 24px;
}

.container_sort,
.container_show_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_sort p,
.container_show_number p {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 10px;
  line-height: 14px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.container_sort p:hover,
.container_show_number p:hover {
  cursor: default;
}

.container_sort_product select {
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ebebeb;
  border-left: none;
  line-height: 14px;
  margin-right: 10px;
  outline: none;
}

.container_sort_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 48px;
}

.container_sort_product select:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container_sort_product select:focus {
  outline: none;
}

/* стилизация раздела с товарами products.html */
.product_items_container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* стили для footer раздела product файла product.html */
.foot_product_select {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul_pages_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.ul_pages_numbers li {
  list-style-type: none;
}

.ul_pages_numbers li a {
  display: block;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

.ul_pages_numbers li a:hover {
  text-decoration: underline;
}

.ul_pages_numbers li span {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
}

.ul_pages_numbers li a.active {
  color: #ef5b70;
}

.ul_pages_numbers li:nth-child(7) a {
  padding-right: 0;
}

.ul_pages_numbers li:nth-child(9) a {
  padding-left: 0;
}

.view_all {
  display: block;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
}

.view_all:hover {
  background-color: #ef5b70;
  color: #ffffff;
  cursor: pointer;
}

/* стили для раздела с описанием услуг products.html */
.article_services {
  width: 100%;
  height: 341px;
  background-color: #222224;
  margin-top: 110px;
  margin-bottom: 80px;
}

.article_services > .flex-sb {
  height: 100%;
}

.style_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.style_column h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 32px;
  margin-bottom: 17px;
}

.style_column p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  letter-spacing: 0.35px;
  padding-left: 40px;
  padding-right: 40px;
}

/*стили для страницы single_page.html*/
/*стили для страницы Single_Page.html*/
/*стили для слайдера страницы Single_Page.html*/
.div_breadcrumbs {
  margin-bottom: 0px;
  /*для этой страницы нужен 0 */
}

.slider_sing_page {
  width: 100%;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  max-width: 1600px;
  margin: 0 auto;
}

.left_arrow_button,
.right_arrow_button {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.212);
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border: none;
  outline: none;
  line-height: 47px;
  text-align: center;
}

.left_arrow_button:hover,
.right_arrow_button:hover {
  cursor: pointer;
  color: #ef5b70;
}

/*стили для формы добавления в корзину страницы Page_Single.html*/
.div_product_discription_relative {
  position: relative;
  height: 664px;
}

.div_product_discr_absolut {
  position: absolute;
  margin-top: -86px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-top: 73px;
  padding-bottom: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.h3_product_discr {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.divs_flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.three_divs div {
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}

.three_divs div:nth-of-type(2) {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.div_product_discr_absolut h2 {
  color: #4d4d4d;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 67px;
}

.p_product_container {
  width: 54%;
  margin-bottom: 28px;
}

.p_product_container p {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
}

.mat_designe_container span {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.mat_designe_container span.black_color_text {
  color: #2f2f2f;
}

.mat_designe_container {
  margin-bottom: 35px;
}

.span_m_d {
  padding: 0 22px;
}

.price_number {
  color: #ef5b70;
  font-weight: 700;
  padding-bottom: 43px;
}

.form_choose {
  width: 642px;
  border-top: 1px solid #eaeaea;
  padding-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_container_prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 28px;
  padding: 0 27px;
}

.column_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.column_label select,
.column_label input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 15px;
  outline: none;
}

.column_label select:hover,
.column_label input:hover {
  border: 1px solid #ef5b70;
  cursor: pointer;
}

.column_label select:focus,
.column_label input:focus {
  outline: none;
  border: 1px solid #ef5b70;
}

.button_submit_img {
  width: 537px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 35px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  background-image: url(../img/pink_cart.svg);
  background-repeat: no-repeat;
  background-position: 205px 12px;
}

.img_in_button {
  margin-right: 15px;
}

.button_submit_img:hover {
  background-color: #ef5b70;
  color: #ffffff;
  background-image: url(../img/white_cart.svg);
  cursor: pointer;
}

/*стили для раздела you may like also Single_page.html*/
.div_product_catalog {
  padding-top: 120px;
}

.div_product_catalog h2 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

#wrong_img {
  width: 100%;
  background-color: #efefef;
}

.img_f_item {
  display: block;
  margin: 0 auto;
}

/*стили для раздела new collection (video) single_page.html*/
.div_new_collection h2 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.new_col_video {
  margin-bottom: 80px;
  width: 100%;
}

/*стили для страницы shopping_cart.html*/
.item_group {
  width: 100%;
  margin-top: 90px;
}

.item_img {
  float: left;
  /* display: flex; */
  /*  flex: 0 0 100px; */
  padding-right: 20px;
  width: 100px;
}

thead {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

thead tr {
  border-bottom: 1px solid #eaeaea;
}

.item_table_details dt {
  float: left;
  font-size: 13px;
  font-weight: 300;
  color: #575757;
  font-weight: 400;
}

.item_table_details dd {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300;
}

.flex_dl {
  /*  display: flex; */
}

.dl_second_item,
.dl_third_item {
  margin-bottom: 20px;
  margin-left: 120px;
}

.dl_second_item dt,
.dl_third_item dt {
  margin-right: 10px;
}

.item_link {
  padding-bottom: 30px;
  padding-top: 15px;
  margin-left: 120px;
}

.item_link a {
  text-decoration: none;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.item_link a:hover {
  text-decoration: underline;
  color: #f16d7f;
}

.flex_item_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}

.flex_cell {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex_cell:first-of-type {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: left;
}

.flex_cell:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cell_flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.cell_flex_container input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.cell_flex_container button {
  background: none;
  border: none;
  outline: none;
}

.cell_flex_container button :hover {
  cursor: pointer;
  color: #f16d7f;
}

.cell_flex_container button :focus {
  outline: none;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

.button_container button {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 35px;
  border: 1px solid #eaeaea;
  background: none;
}

.button_container button:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: #fff;
  cursor: pointer;
}

/* стили для формы shopping_cart.html*/
.flex_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

.flex_form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: none;
  padding-right: 35px;
}

.flex_form fieldset h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.flex_form fieldset h3 span {
  color: #f16d7f;
}

.flex_form fieldset input,
.flex_form fieldset select {
  margin: 20px 0px 20px 0px;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #eaeaea;
}

.flex_form fieldset input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.flex_form fieldset input:-ms-input-placeholder {
  color: #b1b1b1;
}

.flex_form fieldset input::-ms-input-placeholder {
  color: #b1b1b1;
}

.flex_form fieldset input::placeholder {
  color: #b1b1b1;
}

.flex_form fieldset input:focus,
.flex_form fieldset select:focus {
  outline-color: #f16d7f;
}

.flex_form fieldset input:hover,
.flex_form fieldset select:hover {
  border: 1px solid #d6d6d6;
}

.flex_form fieldset select:hover {
  cursor: pointer;
}

.flex_form fieldset button {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.flex_form fieldset button:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
  cursor: pointer;
}

.flex_form fieldset label {
  margin: 20px 0;
}

.flex_form fieldset:last-of-type {
  background-color: #f5f3f3;
  padding: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /*     button {
      padding: 20px 40px;
      background-color: $pink-color;
      border: none;
      margin: 0 auto;
      margin-top: 15px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    } */
}

.flex_form fieldset:last-of-type a {
  padding: 20px 40px;
  background-color: #f16d7f;
  border: none;
  margin: 0 auto;
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-table;
}

.flex_form fieldset:last-of-type button:hover {
  background-color: #ffffff;
  color: #f16d7f;
  cursor: pointer;
}

/* убираем стрелки в номерном input*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form_text_container {
  border-bottom: 1px solid #e2e2e2;
}

.form_text_container p,
.form_text_container h3 {
  text-align: right;
}

.form_text_container p {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.form_text_container h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* стили для страницы checkout.html*/
.list__h2 {
  text-align: left;
}

.list__h2_font-style {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.list__h2_font-color {
  color: #222222;
}

.ul-checkout_no-style {
  list-style-type: none;
}

.list__form_flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__form_flex-sb fieldset {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-billing {
  display: none;
}

.li-billing:hover .form-billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .ul-checkout__list:hover .list__form_flex-sb {
  display: flex;
} */
.ul-checkout__list {
  border-bottom: 1px solid #e8e8e8;
}

.ul-checkout__list_p-m {
  padding: 33px 0;
}

.ul-checkout__list:hover {
  cursor: default;
}

.form__fields {
  border: none;
}

.form__fields_size {
  width: 100%;
  padding: 35px;
}

.fields-h3 {
  text-align: left;
}

.fields-h3_font-style {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.fields-h3_font-size {
  color: #222222;
}

.fields-h3_p-m {
  padding: 15px 0;
}

.fields-p {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #b3b2b2;
}

/*делаем пользовательскую radio кнопку*/
.radio-b-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 14px;
}

.radio-b-container_text {
  font-size: 12px;
  text-transform: uppercase;
  color: #222222;
}

/* прячем кнопку браузера */
.radio-b-container__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* создаем свою кнопку */
.radio-b-container__checkmark {
  position: absolute;
  top: 10px;
  left: 0px;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border: solid 2px #555555;
  border-radius: 100%;
}

.radio-b-container__checkmark:after {
  content: "";
  position: absolute;
  /*  display: none; */
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #000000;
  border: 2px solid white;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.radio-b-container:hover .radio-b-container__checkmark {
  background-color: #ccc;
}

.radio-b-container__input:checked ~ .radio-b-container__checkmark:after {
  /*  display: block; */
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.radio-b-cover {
  margin: 20px 0;
}

/*конец - создания кнопки*/
.cover-a-fields {
  margin-top: 20px;
  margin-bottom: 25px;
}

.fields-a {
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  color: #b3b2b2;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.fields-a:hover {
  color: #f16d7f;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.fields-a__font-aw {
  padding-right: 2px;
}

.fields__label {
  font-size: 12px;
  text-align: left;
  color: #222222;
  margin-bottom: 15px;
  margin-top: 20px;
  display: block;
  text-transform: uppercase;
}

.label__red-text {
  font-size: 17px;
  color: #ff0d0d;
}

.fields__input {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  padding: 0 15px;
  font-size: 13px;
}

.fields__input:focus {
  outline: 1px solid #f16d7f;
}

.fields__p {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  margin: 20px 0 30px 0;
}

.fields__p_text-red {
  color: #ff0d0d;
}

.fields-button-container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fields-a_text-color {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #222222;
}

.fields-a_p-m {
  margin-left: 30px;
}

.fields-button {
  padding: 15px 15px;
  min-width: 150px;
  min-height: 20px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  -webkit-transition: background0 0.3s ease;
  transition: background0 0.3s ease;
}

.fields-button:hover {
  background-color: #f16d7f;
  border: solid 1px #f16d7f;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.fields-button_p-m {
  margin-top: 40px;
}

/* .fields-button_size_login {
  padding-right: 79px;
} */
.fields__select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b1b1b1;
  min-width: 422px;
}

.fields__select:hover {
  cursor: pointer;
}

option {
  outline: none;
  border: none;
}

.fields__input_last {
  margin-bottom: 35px;
}

/* .fields-button_size_login {
  padding-right: 71px;
} */
/*делаем checkbox адресс доставки такой */
.input-custom-checkbox {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.fields__label-checkbox {
  padding-left: 35px;
  position: relative;
  font-size: 14px;
  color: #222222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  line-height: 24px;
}

.fields__label-checkbox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 1px #eaeaea;
  display: block;
}

.fields__label-checkbox:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  height: 15px;
  width: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: solid 2px #f16d7f;
  border-bottom: solid 2px #f16d7f;
  display: none;
}

.input-custom-checkbox:checked ~ .fields__label-checkbox:after {
  display: block;
}

.fields__input_zip-code {
  width: 165px;
  height: 15px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  padding: 15px;
}

.fields__table {
  width: 100%;
}

.table-td,
.table-th-center {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 10px;
}

.table-th-center {
  border-top: 1px solid #e8e8e8;
}

.table-th-center,
.tabble-td-center {
  text-align: center;
}

.radio-b-container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-shipping-img_p-m {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100px;
  max-height: 70px;
}

.table-shipping__checkmark {
  top: 43%;
}

/* .table-th_flex_center {
  display: flex;
  align-content: center;
  align-items: center;
} */
.tabble-td_text {
  font-size: 13px;
  color: #222222;
}

.atricle-list-options {
  margin-bottom: 90px;
}
/*# sourceMappingURL=style.css.map */